name: Code Analysis

on:
  pull_request:
    branches:
      - main
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/code.analysis.yml"

jobs:

  analysis:
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v3.5.0
        with:
          go-version: 1.17

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3.3.0

      - name: Revive Action
        uses: morphy2k/revive-action@v2.5.1

      - name: Check formatting
        run: test -z $(gofmt -l .) || (gofmt -l . && exit 1)

      - name: misspell
        uses: sobolevn/misspell-fixer-action@0.1.0